@import 'flag-icons/css/flag-icons.4x3.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, 'Helvetica Neue', sans-serif; }

.mat-mdc-snack-bar-container.app-snackbar-success .mat-mdc-snack-bar-label {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
